<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body>
    <header>
      <h1>
        <%= link_to 'Menyou: Where Menus are Yours', root_path %>
      </h1>
      <% if logged_in? %>
        <%= current_user.username %>
        |
        <%= link_to 'Sign Out', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign In', new_user_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
