<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body>
    <div class="row contain-to-grid">
      <div class="medium-offset-1 medium-10 columns">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area name">
            <li class="name">
              <h1><%= link_to 'M E N U', root_path %></h1>
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#"><span></span></a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right has-dropdown">
              <% if logged_in? %>
                <li class="active welcome">
                  <%= link_to "Bon appétit, #{current_user.username}", "#/users/#{current_user.id}" %>
                </li>
                <li class="active welcome">
                  <%= link_to 'Sign Out', logout_path %>
                </li>
              <% else %>
                <li class="active">
                  <%= link_to 'Sign In', login_path %>
                </li>
                <li class="active">
                  <%= link_to 'Sign Up', new_user_path %>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
    </div>

    <div class = "row">
      <div class="small-offset-1 small-10 small-offset-1 columns">
        <div id="flash-container">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>

    <footer class="row centered">
      <div class="small-offset-1 small-10 small-offset-1 columns">
        <div>
          a 2016 dev bootcamp project
        </div>
        <div>
          by <%= link_to 'aaron tsai', 'https://github.com/aattsai'%>,
          <%= link_to 'eunice do', 'https://github.com/Yoonis' %>,
          <%= link_to 'jay yee', 'https://github.com/formirthonly' %>, and
          <%= link_to 'jonathan chen', 'https://github.com/dijonkitchen' %>
        </div>
      </div>
    </footer>

  </body>
</html>
